venv/
/__pycache__
*.py[cod]
/.idea
../.idea/

/classroom_env
classroom.db
/templates/test_templates
test.py
videos/*.mp4
videos/*.mov
videos/*.wmv
videos/*.avi
videos/*.avchd
videos/*.flv
videos/*.f4v
videos/*.swf
videos/*.mkv
videos/*.mpeg
